<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xml:lang="en" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Template: Burndown Chart</title>
<meta name="uma.type" content="Template">
<meta name="uma.name" content="burndown_chart">
<meta name="uma.presentationName" content="Burndown Chart">
<meta name="element_type" content="other">
<meta name="filetype" content="description">
<meta name="role" content="">
<link rel="StyleSheet" href="./../../../css/default.css" type="text/css">
<script src="./../../../scripts/ContentPageResource.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSubSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageToolbar.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/contentPage.js" type="text/javascript" language="JavaScript"></script><script type="text/javascript" language="JavaScript">
					var backPath = './../../../';
					var imgPath = './../../../images/';
					var nodeInfo=null;
					contentPage.preload(imgPath, backPath, nodeInfo,  '', false, false, false);
				</script>
</head>
<body>
<div id="breadcrumbs"></div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top"><a name="Top"></a>
<div id="page-guid" value="_OO6A0F8rEd22Gu98eFOlrQ"></div>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td class="pageTitle" nowrap="true">Template: Burndown Chart</td><td width="100%">
<div align="right" id="contentPageToolbar"></div>
</td><td width="100%" class="expandCollapseLink" align="right"><a name="mainIndex" href="./../../../index.htm"></a><script language="JavaScript" type="text/javascript" src="./../../../scripts/treebrowser.js"></script></td>
</tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="pageTitleSeparator"><img src="./../../../images/shim.gif" alt="" title="" height="1"></td>
</tr>
</table>
<div class="overview">
<table width="97%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="50"><img src="./../../../images/template.gif" alt="" title=""></td><td>
<table class="overviewTable" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top">These Excel spreadsheets provide useful capabilities for creating burndown charts.</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Relationships</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Related Elements</th><td class="sectionTableCell">
<ul>
<li>
<a href="./../../../Scrum/workproducts/product_backlog_68345C16.html" guid="_OZIPIOF8Edyp34pwdTOSVQ">Product Backlog</a>
</li>
<li>
<a href="./../../../Scrum/workproducts/release_burndown_chart_7E6A4A45.html" guid="_tFw9IPVoEdyJbYuqG3X5Ag">Release Burndown Chart</a>
</li>
<li>
<a href="./../../../Scrum/workproducts/sprint_backlog_7A5B8A37.html" guid="_Q5Ki8OF8Edyp34pwdTOSVQ">Sprint Backlog</a>
</li>
<li>
<a href="./../../../Scrum/workproducts/sprint_burndown_chart_F647C347.html" guid="_YzmSIF8sEd22Gu98eFOlrQ">Sprint Burndown Chart </a>
</li>
</ul>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Main Description</th><td class="sectionTableCell"><p>
    If you are considering using a&nbsp;spreadsheet to track your project's backlog and burndown consider these two
    templates&nbsp;kindly provided by Clay Ver Valen and Petri Heiramo.&nbsp; Both templates are excellent and one is sure
    to be appeal to your project. Petri's template uses macros which provide a richer functionality but may be an
    impediment to some.&nbsp; Petris' template is pre-loaded with sample data while Clay provides a separate sample for his
    template.
</p></td>
</tr>
<tr valign="top">
<th class="sectionTableHeading" scope="row">Attached Files</th><td class="sectionTableCell">
<UL>
<li>
<a href="./../../../Scrum/guidances/templates/resources/Burndown_Sample_Clay.xls" target="_blank">Burndown_Sample_Clay.xls</a>
</li>
<li>
<a href="./../../../Scrum/guidances/templates/resources/Burndown_Template_Clay.xls" target="_blank">Burndown_Template_Clay.xls</a>
</li>
<li>
<a href="./../../../Scrum/guidances/templates/resources/Burndown_Template_Petri.xls" target="_blank">Burndown_Template_Petri.xls</a>
</li>
</UL>
</td>
</tr>
</table>
</div>
<table class="copyright" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="copyright"><p>
    This program and the accompanying materials are made available under the<br />
    <a href="http://www.eclipse.org/org/documents/epl-v10.php" target="_blank">Eclipse Public License v1.0</a> which
    accompanies this distribution.
</p>
<p>
    Copyright &copy; 1998--2008 Mountain Goat Software. All rights reserved.<br />
    Copyright &copy; 2008 ATSC. All rights reserved.
</p></td>
</tr>
</table>
</td>
</tr>
</table>
</body>
<script type="text/javascript" language="JavaScript">
				contentPage.onload();
			</script>
</html>
